.overlay {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.85);
            padding-top: 5%;
            padding-bottom: 5%;
            text-align: center;
        }

        .img-full{
            height: 100%;
        }

        .closeMe{
            position: absolute;
            mix-blend-mode: difference;
            filter: invert(1);
            font-size: 25px;
            font-weight: bold;
            left: 73%;
            top: 10%;
            cursor: pointer;
        }