/*élément principaux de la pages*/
body
{
	background-color: #ABB7DB;
	margin: auto;
}

/*header*/
header{
	border-bottom: solid purple;
}


.container-fluid p{
	
	margin-left: 60px;
	
}



/*main*/

#main_header
{
	text-align: center;

	margin-bottom: 10px;
}



/*section*/
section
{
	display: block;
}
h3
{
	background-color: #505566;
	color: white;
	font-size: 24px;
	padding-left: 10px;
	margin-top: 10px;
	box-shadow: 0px 4px 4px #1c1a19
}

/*Mes competences*/

/*.competences
{
	display: flex;
	justify-content: space-between;


}

.infolog
{
	width: 48%;

}

.comaut
{
	width: 50%;
}
*/
.btn-cv
{
	border-radius: 5px;
	background-color: #62968B;
	box-shadow: 0px 4px 4px #1c1a19




}
/*dd ul
{
	margin: 0;padding: 0;

}
dd ul li
{
	height: 30px;
	line-height: 30px;
}
dl dd
{
	display: none;
}
dt:hover
{
	background-color: #324D47;
	color: white;
}
dl:hover dd
{
	display: block;
}*/

/*mes experiences*/





/*Mes formations*/

#formations
{
	display: flex;

}

#description_exp
{
	margin-left: 20px;
}

#date
{
	font-size: 18px;
}

#description_exp
{
	font-size: 18px;
	padding-left: 50px;
}


/*responsive*/
@media screen and (min-width: 992px){
	.recipient{
	margin-left: auto;
	margin-right: auto;
	width: 45%;


}
}